
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
}
.align_center{
  display: flex;
	align-items: center;
}

a{
  font-weight: 500;

  text-decoration: none;
}
.cart_counts{
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: blue;
  color: white;
  font-size: 14px;
  margin-left: 5px;
}
.form_error{
  color: red;
  font-weight: 450;
}